[*]
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0060.severity = warning
